In [544]:
import requests
import json
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import numpy as np

In [74]:
#Diccionario conductores
drivers ={'driverId':[], 'url':[], 'givenName':[], 'familyName':[], 'dateOfBirth':[], 'nationality':[]}

In [75]:
for year in list(range(2010, 2023)):
    url = "http://ergast.com/api/f1/drivers.json"
    response = requests.get(url.format())
    content = json.loads(response.content)
    
    for item in content['MRData']['DriverTable']['Drivers']:
        drivers['driverId'].append(item['driverId'])
        drivers['url'].append(item['url'])
        drivers['givenName'].append(item['givenName'])
        drivers['familyName'].append(item['familyName'])
        drivers['dateOfBirth'].append(item['dateOfBirth'])
        drivers['nationality'].append(item['nationality'])

In [485]:
pd.DataFrame(drivers)

,driverId,url,givenName,familyName,dateOfBirth,nationality
0,abate,http://en.wikipedia.org/wiki/Carlo_Mario_Abate,Carlo,Abate,1932-07-10,Italian
1,abecassis,http://en.wikipedia.org/wiki/George_Abecassis,George,Abecassis,1913-03-21,British
2,acheson,http://en.wikipedia.org/wiki/Kenny_Acheson,Kenny,Acheson,1957-11-27,British
3,adams,http://en.wikipedia.org/wiki/Philippe_Adams,Philippe,Adams,1969-11-19,Belgian
4,ader,http://en.wikipedia.org/wiki/Walt_Ader,Walt,Ader,1913-12-15,American
...,...,...,...,...,...,...
385,andrews,http://en.wikipedia.org/wiki/Keith_Andrews_(dr...,Keith,Andrews,1920-06-15,American
386,apicella,http://en.wikipedia.org/wiki/Marco_Apicella,Marco,Apicella,1965-10-07,Italian
387,armi,http://en.wikipedia.org/wiki/Frank_Armi,Frank,Armi,1918-10-12,American
388,arnold,http://en.wikipedia.org/wiki/Chuck_Arnold,Chuck,Arnold,1926-05-30,American
389,arnoux,http://en.wikipedia.org/wiki/Ren%C3%A9_Arnoux,René,Arnoux,1948-07-04,French

In [464]:
pd.DataFrame(drivers).to_csv('drivers.csv', index = False)

In [79]:
#Diccionario constructores
constructors = {'constructorId':[], 'url':[], 'name':[], 'nationality':[]}

In [80]:
for year in list(range(2010, 2023)):
    url = "http://ergast.com/api/f1/constructors.json"
    response = requests.get(url.format())
    content = json.loads(response.content)
    
    for item in content['MRData']['ConstructorTable']['Constructors']:
        constructors['constructorId'].append(item['constructorId'])
        constructors['url'].append(item['url'])
        constructors['name'].append(item['name'])
        constructors['nationality'].append(item['nationality'])

In [470]:
pd.DataFrame(constructors)

,constructorId,url,name,nationality
0,adams,http://en.wikipedia.org/wiki/Adams_(constructor),Adams,American
1,afm,http://en.wikipedia.org/wiki/Alex_von_Falkenha...,AFM,German
2,ags,http://en.wikipedia.org/wiki/Automobiles_Gonfa...,AGS,French
3,alfa,http://en.wikipedia.org/wiki/Alfa_Romeo_in_For...,Alfa Romeo,Swiss
4,alphatauri,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri,AlphaTauri,Italian
...,...,...,...,...
385,brabham-climax,http://en.wikipedia.org/wiki/Brabham,Brabham-Climax,British
386,brabham-ford,http://en.wikipedia.org/wiki/Brabham,Brabham-Ford,British
387,brabham-repco,http://en.wikipedia.org/wiki/Brabham,Brabham-Repco,British
388,brawn,http://en.wikipedia.org/wiki/Brawn_GP,Brawn,British
389,brm,http://en.wikipedia.org/wiki/BRM,BRM,British

In [465]:
pd.DataFrame(constructors).to_csv('constructors.csv', index = False)

In [450]:
#Diccionario circuitos
circuits = {'circuitId':[], 'url':[], 'circuitName':[], 'lat':[], 'long':[], 'locality':[], 'country':[]}

In [451]:
for year in list(range(2010, 2023)):
    url = "http://ergast.com/api/f1/circuits.json"
    response = requests.get(url.format())
    content = json.loads(response.content)
    
    for item in content['MRData']['CircuitTable']['Circuits']:
        circuits['circuitId'].append(item['circuitId'])
        circuits['url'].append(item['url'])
        circuits['circuitName'].append(item['circuitName'])
        circuits['lat'].append(float(item['Location']['lat']))
        circuits['long'].append(float(item['Location']['long']))
        circuits['locality'].append(item['Location']['locality'])
        circuits['country'].append(item['Location']['country'])

In [484]:
pd.DataFrame(circuits)

,circuitId,url,circuitName,lat,long,locality,country
0,adelaide,http://en.wikipedia.org/wiki/Adelaide_Street_C...,Adelaide Street Circuit,-34.9272,138.61700,Adelaide,Australia
1,ain-diab,http://en.wikipedia.org/wiki/Ain-Diab_Circuit,Ain Diab,33.5786,-7.68750,Casablanca,Morocco
2,aintree,http://en.wikipedia.org/wiki/Aintree_Motor_Rac...,Aintree,53.4769,-2.94056,Liverpool,UK
3,albert_park,http://en.wikipedia.org/wiki/Melbourne_Grand_P...,Albert Park Grand Prix Circuit,-37.8497,144.96800,Melbourne,Australia
4,americas,http://en.wikipedia.org/wiki/Circuit_of_the_Am...,Circuit of the Americas,30.1328,-97.64110,Austin,USA
...,...,...,...,...,...,...,...
385,hungaroring,http://en.wikipedia.org/wiki/Hungaroring,Hungaroring,47.5789,19.24860,Budapest,Hungary
386,imola,http://en.wikipedia.org/wiki/Autodromo_Enzo_e_...,Autodromo Enzo e Dino Ferrari,44.3439,11.71670,Imola,Italy
387,indianapolis,http://en.wikipedia.org/wiki/Indianapolis_Moto...,Indianapolis Motor Speedway,39.7950,-86.23470,Indianapolis,USA
388,interlagos,http://en.wikipedia.org/wiki/Aut%C3%B3dromo_Jo...,Autódromo José Carlos Pace,-23.7036,-46.69970,São Paulo,Brazil
389,istanbul,http://en.wikipedia.org/wiki/Istanbul_Park,Istanbul Park,40.9517,29.40500,Istanbul,Turkey

In [466]:
pd.DataFrame(circuits).to_csv('circuits.csv', index = False)

In [579]:
#Diccionario calificaciones
qualifyings = {'driverId':[], 'constructorId':[], 'number':[], 'position':[], 'Q1':[], 'Q2':[], 'Q3':[]}

In [580]:
for year in list (range(2010, 2023)):
    url = "http://ergast.com/api/f1/{}/qualifying.json"
    response = requests.get(url.format(year))
    content = json.loads(response.content)
    
    
    for item in content['MRData']['RaceTable']['Races']:
            #qualifyings['raceName'].append(item['raceName'])
            for item2 in item['QualifyingResults']:
                qualifyings['driverId'].append(item2['Driver']['driverId'])
                qualifyings['constructorId'].append(item2['Constructor']['constructorId'])
                qualifyings['number'].append(int(item2['number']))
                qualifyings['position'].append(int(item2['position']))
                try:
                    qualifyings['Q1'].append(item2['Q1'])
                except:
                    qualifyings['Q1'].append(np.nan)
                try:
                    qualifyings['Q2'].append(item2['Q2'])
                except:
                    qualifyings['Q2'].append(np.nan)
                try:
                    qualifyings['Q3'].append(item2['Q3'])
                except:
                    qualifyings['Q3'].append(np.nan)

In [581]:
#Es importante notar que en nuestro diccionario qualifyings, no todos los arrays tienen en el mismo tamaño,
#por ejemplo, 'raceName' tiene un tamaño más pequeño, por lo que si se quiere crear un archivo csv con ese diccionario
#será necesario utilizar un método distinto como el que se muestra abajo, sin embargo, por facilidad en la lectura de los datos
#se creará el archivo csv sin la entrada de 'raceName'.
#df = pd.DataFrame.from_dict(qualifyings, orient='index')
#df.to_csv("qualifyings.csv",header=False)

In [582]:
pd.DataFrame(qualifyings).to_csv('qualifyings.csv', index = False)

In [575]:
pd.DataFrame(qualifyings)

,driverId,constructorId,number,position,Q1,Q2,Q3
0,vettel,red_bull,5,1,1:55.029,1:53.883,1:54.101
1,massa,ferrari,7,2,1:55.313,1:54.331,1:54.242
2,alonso,ferrari,8,3,1:54.612,1:54.172,1:54.608
3,hamilton,mclaren,2,4,1:55.341,1:54.707,1:55.217
4,rosberg,mercedes,4,5,1:55.463,1:54.682,1:55.241
...,...,...,...,...,...,...,...
385,russell,mercedes,63,6,1:29.680,1:29.618,1:29.104
386,alonso,alpine,14,7,1:29.978,1:29.295,1:29.147
387,bottas,alfa,77,8,1:29.683,1:29.404,1:29.183
388,gasly,alphatauri,10,9,1:29.891,1:29.418,1:29.254
389,kevin_magnussen,haas,20,10,1:29.831,1:29.546,1:29.588