In [19]:
import requests
import json
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [20]:
url = "http://ergast.com/api/f1/2022/20/results.json"
response = requests.get(url)

In [21]:
content = json.loads(response.content)

In [22]:
list(range (1,23))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]

In [23]:
df_results_2022 = pd.DataFrame()

for race in list(range(1, 23)):
    url = "http://ergast.com/api/f1/2022/{}/results.json"
    response = requests.get(url.format(race))
    content = json.loads(response.content)
    
    df_results_2022= df_results_2022.append(pd.DataFrame(content['MRData']['RaceTable']['Races'][0]['Results']))

In [29]:
df_results_2022["points"] = df_results_2022["points"].astype(int)

In [30]:
df_results_2022['points'].values[0]

26

In [35]:
#df_results_2022["Driver"] = df_results_2022["Driver"].apply(lambda x:x["driverId"])

In [32]:
df_results_2022["points"] = df_results_2022["points"].astype(int)
df_results_2022["position"] = df_results_2022["position"].astype(int)

In [33]:
df_results_2022

,number,position,positionText,points,Driver,Constructor,grid,laps,status,Time,FastestLap
0,16,1,1,26,leclerc,"{'constructorId': 'ferrari', 'url': 'http://en...",1,57,Finished,"{'millis': '5853584', 'time': '1:37:33.584'}","{'rank': '1', 'lap': '51', 'Time': {'time': '1..."
1,55,2,2,18,sainz,"{'constructorId': 'ferrari', 'url': 'http://en...",3,57,Finished,"{'millis': '5859182', 'time': '+5.598'}","{'rank': '3', 'lap': '52', 'Time': {'time': '1..."
2,44,3,3,15,hamilton,"{'constructorId': 'mercedes', 'url': 'http://e...",5,57,Finished,"{'millis': '5863259', 'time': '+9.675'}","{'rank': '5', 'lap': '53', 'Time': {'time': '1..."
3,63,4,4,12,russell,"{'constructorId': 'mercedes', 'url': 'http://e...",9,57,Finished,"{'millis': '5864795', 'time': '+11.211'}","{'rank': '6', 'lap': '56', 'Time': {'time': '1..."
4,20,5,5,10,kevin_magnussen,"{'constructorId': 'haas', 'url': 'http://en.wi...",7,57,Finished,"{'millis': '5868338', 'time': '+14.754'}","{'rank': '8', 'lap': '53', 'Time': {'time': '1..."
...,...,...,...,...,...,...,...,...,...,...,...
15,47,16,16,0,mick_schumacher,"{'constructorId': 'haas', 'url': 'http://en.wi...",12,57,+1 Lap,NaN,"{'rank': '12', 'lap': '39', 'Time': {'time': '..."
16,20,17,17,0,kevin_magnussen,"{'constructorId': 'haas', 'url': 'http://en.wi...",16,57,+1 Lap,NaN,"{'rank': '20', 'lap': '40', 'Time': {'time': '..."
17,44,18,18,0,hamilton,"{'constructorId': 'mercedes', 'url': 'http://e...",5,55,Hydraulics,NaN,"{'rank': '11', 'lap': '42', 'Time': {'time': '..."
18,6,19,19,0,latifi,"{'constructorId': 'williams', 'url': 'http://e...",20,55,Collision damage,NaN,"{'rank': '14', 'lap': '45', 'Time': {'time': '..."
19,14,20,R,0,alonso,"{'constructorId': 'alpine', 'url': 'http://en....",10,27,Water leak,NaN,"{'rank': '17', 'lap': '24', 'Time': {'time': '..."

In [34]:
df_results_2022.groupby(["Driver"]).agg({"points" : "sum", "position" : "min"}).sort_values(by="points", ascending = False)

                 points  position
Driver
max_verstappen      433         1
perez               291         1
leclerc             291         1
russell             262         1
hamilton            233         2
sainz               228         1
norris              116         3
ocon                 89         4
alonso               81         5
bottas               47         5
vettel               37         6
ricciardo            34         5
gasly                23         5
kevin_magnussen      21         5
stroll               18         6
tsunoda              12         7
mick_schumacher      12         6
zhou                  6         8
albon                 4         9
latifi                2         9
de_vries              2         9
hulkenberg            0        12

In [51]:
df_results_2022['Constructor']=df_results_2022['Constructor'].apply(lambda x: x['constructorId'])
df_results_2022.groupby(["Constructor"]).agg({"points" : "sum", "position" : "min"}).sort_values(by="points", ascending = False)

              points  position
Constructor
red_bull         724         1
ferrari          519         1
mercedes         495         1
alpine           170         4
mclaren          150         3
aston_martin      55         6
alfa              53         5
alphatauri        35         5
haas              33         5
williams           8         9