In [4]:
import requests
import json
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import numpy as np

In [5]:
#Diccionario conductores
drivers ={'driverId':[], 'url':[], 'givenName':[], 'familyName':[], 'dateOfBirth':[], 'nationality':[]}

In [6]:
for year in list(range(2010, 2023)):
    url = "https://ergast.com/api/f1/{}/drivers.json"
    response = requests.get(url.format(year))
    content = json.loads(response.content)
    
    for item in content['MRData']['DriverTable']['Drivers']:
        drivers['driverId'].append(item['driverId'])
        drivers['url'].append(item['url'])
        drivers['givenName'].append(item['givenName'])
        drivers['familyName'].append(item['familyName'])
        drivers['dateOfBirth'].append(item['dateOfBirth'])
        drivers['nationality'].append(item['nationality'])

In [7]:
pd.DataFrame(drivers)

,driverId,url,givenName,familyName,dateOfBirth,nationality
0,alguersuari,http://en.wikipedia.org/wiki/Jaime_Alguersuari,Jaime,Alguersuari,1990-03-23,Spanish
1,alonso,http://en.wikipedia.org/wiki/Fernando_Alonso,Fernando,Alonso,1981-07-29,Spanish
2,barrichello,http://en.wikipedia.org/wiki/Rubens_Barrichello,Rubens,Barrichello,1972-05-23,Brazilian
3,buemi,http://en.wikipedia.org/wiki/S%C3%A9bastien_Buemi,Sébastien,Buemi,1988-10-31,Swiss
4,button,http://en.wikipedia.org/wiki/Jenson_Button,Jenson,Button,1980-01-19,British
...,...,...,...,...,...,...
299,stroll,http://en.wikipedia.org/wiki/Lance_Stroll,Lance,Stroll,1998-10-29,Canadian
300,tsunoda,http://en.wikipedia.org/wiki/Yuki_Tsunoda,Yuki,Tsunoda,2000-05-11,Japanese
301,max_verstappen,http://en.wikipedia.org/wiki/Max_Verstappen,Max,Verstappen,1997-09-30,Dutch
302,vettel,http://en.wikipedia.org/wiki/Sebastian_Vettel,Sebastian,Vettel,1987-07-03,German
303,zhou,http://en.wikipedia.org/wiki/Guanyu_Zhou,Guanyu,Zhou,1999-05-30,Chinese

In [8]:
pd.DataFrame(drivers).to_csv('drivers.csv', index = False)

In [10]:
#Diccionario constructores
constructors = {'constructorId':[], 'url':[], 'name':[], 'nationality':[]}

In [11]:
for year in list(range(2010, 2023)):
    url = "http://ergast.com/api/f1/{}/constructors.json"
    response = requests.get(url.format(year))
    content = json.loads(response.content)
    
    for item in content['MRData']['ConstructorTable']['Constructors']:
        constructors['constructorId'].append(item['constructorId'])
        constructors['url'].append(item['url'])
        constructors['name'].append(item['name'])
        constructors['nationality'].append(item['nationality'])

In [12]:
pd.DataFrame(constructors)

,constructorId,url,name,nationality
0,ferrari,http://en.wikipedia.org/wiki/Scuderia_Ferrari,Ferrari,Italian
1,force_india,http://en.wikipedia.org/wiki/Racing_Point_Forc...,Force India,Indian
2,hrt,http://en.wikipedia.org/wiki/Hispania_Racing,HRT,Spanish
3,lotus_racing,http://en.wikipedia.org/wiki/Lotus_Racing,Lotus,Malaysian
4,mclaren,http://en.wikipedia.org/wiki/McLaren,McLaren,British
...,...,...,...,...
134,haas,http://en.wikipedia.org/wiki/Haas_F1_Team,Haas F1 Team,American
135,mclaren,http://en.wikipedia.org/wiki/McLaren,McLaren,British
136,mercedes,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...,Mercedes,German
137,red_bull,http://en.wikipedia.org/wiki/Red_Bull_Racing,Red Bull,Austrian
138,williams,http://en.wikipedia.org/wiki/Williams_Grand_Pr...,Williams,British

In [18]:
pd.DataFrame(constructors).to_csv('constructors.csv', index = False)

In [13]:
#Diccionario circuitos
circuits = {'circuitId':[], 'url':[], 'circuitName':[], 'lat':[], 'long':[], 'locality':[], 'country':[]}

In [16]:
for year in list(range(2010, 2023)):
    url = "http://ergast.com/api/f1/{}/circuits.json"
    response = requests.get(url.format(year))
    content = json.loads(response.content)
    
    for item in content['MRData']['CircuitTable']['Circuits']:
        circuits['circuitId'].append(item['circuitId'])
        circuits['url'].append(item['url'])
        circuits['circuitName'].append(item['circuitName'])
        circuits['lat'].append(float(item['Location']['lat']))
        circuits['long'].append(float(item['Location']['long']))
        circuits['locality'].append(item['Location']['locality'])
        circuits['country'].append(item['Location']['country'])

In [17]:
pd.DataFrame(circuits)

,circuitId,url,circuitName,lat,long,locality,country
0,albert_park,http://en.wikipedia.org/wiki/Melbourne_Grand_P...,Albert Park Grand Prix Circuit,-37.8497,144.96800,Melbourne,Australia
1,bahrain,http://en.wikipedia.org/wiki/Bahrain_Internati...,Bahrain International Circuit,26.0325,50.51060,Sakhir,Bahrain
2,catalunya,http://en.wikipedia.org/wiki/Circuit_de_Barcel...,Circuit de Barcelona-Catalunya,41.5700,2.26111,Montmeló,Spain
3,hockenheimring,http://en.wikipedia.org/wiki/Hockenheimring,Hockenheimring,49.3278,8.56583,Hockenheim,Germany
4,hungaroring,http://en.wikipedia.org/wiki/Hungaroring,Hungaroring,47.5789,19.24860,Budapest,Hungary
...,...,...,...,...,...,...,...
250,spa,http://en.wikipedia.org/wiki/Circuit_de_Spa-Fr...,Circuit de Spa-Francorchamps,50.4372,5.97139,Spa,Belgium
251,suzuka,http://en.wikipedia.org/wiki/Suzuka_Circuit,Suzuka Circuit,34.8431,136.54100,Suzuka,Japan
252,villeneuve,http://en.wikipedia.org/wiki/Circuit_Gilles_Vi...,Circuit Gilles Villeneuve,45.5000,-73.52280,Montreal,Canada
253,yas_marina,http://en.wikipedia.org/wiki/Yas_Marina_Circuit,Yas Marina Circuit,24.4672,54.60310,Abu Dhabi,UAE
254,zandvoort,http://en.wikipedia.org/wiki/Circuit_Zandvoort,Circuit Park Zandvoort,52.3888,4.54092,Zandvoort,Netherlands

In [19]:
pd.DataFrame(circuits).to_csv('circuits.csv', index = False)

In [39]:
#Diccionario calificaciones
qualifyings = {'raceName':[], 'driverId':[], 'constructorId':[], 'number':[], 'position':[], 'Q1':[], 'Q2':[], 'Q3':[]}

In [40]:
for year in list (range(2010, 2023)):
    url = "http://ergast.com/api/f1/{}/qualifying.json"
    response = requests.get(url.format(year))
    content = json.loads(response.content)
    
    
    for item in content['MRData']['RaceTable']['Races']:
        for item2 in item['QualifyingResults']:
            qualifyings['raceName'].append(item['raceName'])
            qualifyings['driverId'].append(item2['Driver']['driverId'])
            qualifyings['constructorId'].append(item2['Constructor']['constructorId'])
            qualifyings['number'].append(int(item2['number']))
            qualifyings['position'].append(int(item2['position']))
            try:
                qualifyings['Q1'].append(item2['Q1'])
            except:
                qualifyings['Q1'].append(np.nan)
            try:
                qualifyings['Q2'].append(item2['Q2'])
            except:
                qualifyings['Q2'].append(np.nan)
            try:
                qualifyings['Q3'].append(item2['Q3'])
            except:
                qualifyings['Q3'].append(np.nan)

In [42]:
pd.DataFrame(qualifyings).to_csv('qualifyings.csv', index = False)

In [41]:
pd.DataFrame(qualifyings)

,raceName,driverId,constructorId,number,position,Q1,Q2,Q3
0,Bahrain Grand Prix,vettel,red_bull,5,1,1:55.029,1:53.883,1:54.101
1,Bahrain Grand Prix,massa,ferrari,7,2,1:55.313,1:54.331,1:54.242
2,Bahrain Grand Prix,alonso,ferrari,8,3,1:54.612,1:54.172,1:54.608
3,Bahrain Grand Prix,hamilton,mclaren,2,4,1:55.341,1:54.707,1:55.217
4,Bahrain Grand Prix,rosberg,mercedes,4,5,1:55.463,1:54.682,1:55.241
...,...,...,...,...,...,...,...,...
385,Saudi Arabian Grand Prix,russell,mercedes,63,6,1:29.680,1:29.618,1:29.104
386,Saudi Arabian Grand Prix,alonso,alpine,14,7,1:29.978,1:29.295,1:29.147
387,Saudi Arabian Grand Prix,bottas,alfa,77,8,1:29.683,1:29.404,1:29.183
388,Saudi Arabian Grand Prix,gasly,alphatauri,10,9,1:29.891,1:29.418,1:29.254
389,Saudi Arabian Grand Prix,kevin_magnussen,haas,20,10,1:29.831,1:29.546,1:29.588